@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #9926c79f;
}
.userTable {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}
.table {
  border-radius: 15px;
}
